<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="newItem()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItemList()" [disabled]="!selectedItem || !selectedItem.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="receitaList" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name']" responsiveLayout="scroll"
      [(selection)]="selectedItem" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Receitas</h5>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
              <th>Imagem</th>
              <th pSortableColumn="possuiEstoque">Estoque <p-sortIcon field="possuiEstoque"></p-sortIcon></th>
              <th pSortableColumn="quantidade">Quantidade <p-sortIcon field="quantidade"></p-sortIcon></th>
              <th pSortableColumn="valor">Valor <p-sortIcon field="valor"></p-sortIcon></th>
              <th pSortableColumn="obs">Observação <p-sortIcon field="obs"></p-sortIcon></th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-receita>
          <tr>
              <td>
                  <p-tableCheckbox [value]="receita"></p-tableCheckbox>
              </td>
              <td>{{receita.descricao}}</td>
              <td><img [src]="" [alt]="receita.descricao" width="100" class="shadow-4" /></td>
              <td><p-rating [ngModel]="receita.possuiEstoque" [readonly]="true" [cancel]="false"></p-rating></td>
              <td>{{receita.quantidade}} </td>
              <td>{{receita.valor | currency:'R$'}}</td>
              <td>{{receita.obs}}</td>
              <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editItem(receita)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteItem(receita)"></button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
              In total there are {{receitaList ? receitaList.length : 0 }} receitas.
          </div>
      </ng-template>
    </p-table>

</div>

<p-dialog [(visible)]="registroDialog" [style]="{width: '450px'}" header="Receita detalhes" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
      <img [src]="'assets/showcase/images/demo/product/' + receita.image" [alt]="receita.image" class="product-image" *ngIf="receita.image">
      <div class="field">
          <label for="descricao">Descrição</label>
          <input type="text" pInputText id="descricao" [(ngModel)]="receita.descricao" required autofocus />
          <small class="p-error" *ngIf="submitted && !receita.descricao">Descrição is required.</small>
      </div>
      <div class="field">
        <label for="possuiEstoque">Estoque</label>
        <p-rating [ngModel]="receita.possuiEstoque" [readonly]="false" [cancel]="false"></p-rating>
      </div>
      <div class="field">
          <label for="obs">Observação</label>
          <textarea id="obs" pInputTextarea [(ngModel)]="receita.obs" required rows="3" cols="20"></textarea>
      </div>
  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
